#include "resource.h"
#include <winres.h>

#pragma code_page(65001)

LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_CHINESE_SIMPLIFIED

IDI_CLIPPING ICON "clipboard.ico"

1 24 "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,3,0,0
PRODUCTVERSION  2,3,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName",      "科控物联"
            VALUE "FileDescription",  "ClipPing - 剪贴板视觉通知工具"
            VALUE "FileVersion",      "2.3.0.0"
            VALUE "InternalName",     "ClipPing"
            VALUE "OriginalFilename", "ClipPing.exe"
            VALUE "ProductName",      "ClipPing"
            VALUE "ProductVersion",   "2.3.0.0"
            VALUE "LegalCopyright",   "科控物联 QQ:2492123056 / 原作者 Kevin Gosse"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END

IDD_SETTINGS DIALOGEX 0, 0, 250, 228
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ClipPing 设置"
FONT 9, "Microsoft YaHei"
BEGIN
    LTEXT           "当您复制内容到剪贴板时，ClipPing 会在当前窗口显示短暂的视觉通知。", -1, 7, 7, 236, 18
    LTEXT           "ClipPing 将此图标添加到时钟旁的系统托盘中。双击即可打开此设置界面。", -1, 7, 32, 215, 18
    ICON            IDI_CLIPPING, -1, 223, 30, 20, 20

    GROUPBOX        "外观", -1, 7, 62, 236, 72
    LTEXT           "覆盖层颜色：", -1, 16, 77, 60, 8
    PUSHBUTTON      "选择...", IDC_BTN_COLOR, 80, 75, 50, 14
    CONTROL         "", IDC_COLOR_PREVIEW, "Static", SS_OWNERDRAW | WS_BORDER, 136, 75, 30, 14

    LTEXT           "覆盖层类型：", -1, 16, 96, 60, 8
    COMBOBOX        IDC_CMB_OVERLAY, 80, 94, 86, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "预览", IDC_BTN_PREVIEW, 16, 113, 50, 14

    GROUPBOX        "常规", -1, 7, 141, 236, 28
    AUTOCHECKBOX    "开机自启动", IDC_CHK_AUTOSTART, 16, 153, 80, 10

    LTEXT           "汉化：科控物联  QQ:2492123056", -1, 7, 175, 180, 8
    LTEXT           "原作者：Kevin Gosse", -1, 7, 185, 120, 8

    PUSHBUTTON      "退出 ClipPing", IDC_BTN_EXIT, 7, 205, 70, 14
    DEFPUSHBUTTON   "确定", IDOK, 193, 205, 50, 14
END

IDD_ABOUT DIALOGEX 0, 0, 240, 160
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 ClipPing"
FONT 9, "Microsoft YaHei"
BEGIN
    ICON            IDI_CLIPPING, -1, 14, 14, 20, 20
    LTEXT           "ClipPing", -1, 42, 10, 150, 10
    LTEXT           "", IDC_VERSION, 42, 22, 150, 8
    LTEXT           "Windows 剪贴板视觉通知工具", -1, 14, 42, 212, 8
    LTEXT           "汉化：科控物联  QQ:2492123056", -1, 14, 56, 212, 8
    LTEXT           "原作者：Kevin Gosse", -1, 14, 68, 212, 8
    LTEXT           "使用手册：https://mp.weixin.qq.com/s/tQscI4aiR2uiqjiRfN8JCg", -1, 14, 82, 212, 8
    DEFPUSHBUTTON   "确定", IDOK, 95, 120, 50, 14
END

